@import url('../variables.css');

#forTodayDashboardHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    top: 0;
    position: fixed;
    z-index: 1000;
}

#pomoHeaderText {
    margin: 0;
    font-family: var(--HEADER-FONT);
    font-size: var(--FF-M);
    color: var(--FONT-COLOR);
}

#forTodayDashboardContainerHeader {
    padding-top: 5vh;
    justify-content: space-between;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
}

#forTodayDashboardHomeButton,
#forTodayDashboardPomodoroButton,
#forTodayDashboardEndOfDayButton {
    font-size: var(--FF-S);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
}

#forTodayDashboardContainerHeaderText {
    font-size: var(--FF-S);
    color: var(--FONT-COLOR);
    font-family: var(--BODY-FONT);
}

#forTodayDashboardNewJournalBtn {
    font-size: var(--FF-XS);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#journalMicroModalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#journalTextArea {
    width: 300px;
    height: 300px;
    padding: 0.5rem;
    border: 1px solid var(--INPUT-FIELD-BORDER-COLOR);
}

#forTodayDashboardContainerContent {
    width: 75%;
    justify-content: flex-start;
    align-content: flex-start;
}

#forTodayDashboardContainerContentDate {
    width: 100%;
    font-size: var(--FF-S);
    color: var(--FONT-COLOR);
    font-family: var(--BODY-FONT);
    margin-bottom: 0;
}

#forTodayDashboardContainerContentTime {
    width: 100%;
    font-size: var(--FF-XS);
    color: var(--FONT-COLOR);
    font-family: var(--BODY-FONT);
}

#forTodayDashboardContainerContentJournalSectionText {
    font-size: var(--FF-S);
}


/* PORTRAIT STYLING */
@media (max-width: 768px) and (orientation:portrait) {
    #forTodayDashboardContainerHeader{
        padding-top: 2.5vh;
    }
    
    #forTodayDashboardHomeButton,
    #forTodayDashboardPomodoroButton,
    #forTodayDashboardEndOfDayButton {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #forTodayDashboardPomoLogo {
        height: 30px;
        width: 30px;
    }

    #forTodayDashboardNewJournalBtn {
        font-size: var(--FF-S);
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #journalTextArea {
        width: 150px;
        height: 150px;
    }
}

/* LANDSCAPE STYLING */
@media (max-width: 768px) and (orientation:landscape) {
    #forTodayDashboardNewJournalBtn {
        font-size: var(--FF-S);
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #journalTextArea {
        width: 200px;
        height: 100px;
    }
}