@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* FONT SIZES */
    --FF-XL: clamp(7vw, 10rem, 8vw);
    --FF-L: clamp(5vw, 7rem, 6vw);
    --FF-M: clamp(3vw, 2rem, 4vw);
    --FF-S: clamp(2vw, 1rem, 3vw);
    --FF-XS: clamp(1.25vw, 0.50rem, 2.25vw);

    /* FONT FAMILY */
    --HEADER-FONT: 'Montserrat', sans-serif;
    --BODY-FONT: 'Roboto', sans-serif;

    /* FONT WEIGHTS */
    --THIN: 100;

    /* COLORS */
    --BACKGROUND-COLOR: whitesmoke;
    --INPUT-FIELD-BORDER-COLOR: #1B262C;
    --INPUT-FIELD-BACKGROUND-COLOR: transparent;
    --BUTTON-BORDER-COLOR: #1B262C;
    --BUTTON-BACKGROUND-COLOR: transparent;
    --ACTIVE-BUTTON-BORDER-COLOR: #1B262C;
    --ACTIVE-BUTTON-BACKGROUND-COLOR: #1B262C;
    --ACTIVE-BUTTON-FONT-COLOR: #BBE1FA;
    --FONT-COLOR: #1B262C;
    --TIMER-PROGRESS-RING-COLOR: #1B262C;
    --TIMER-PROGRESS-RING-BACKGROUND-COLOR: transparent;
}